.coursesList {
  margin-top: 50px;

  .content {
    max-width: 500px;
    background: linear-gradient(#212121, #212121) padding-box,
      linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    border-radius: 10px;
    margin-right: auto;
    height: 400px;
    overflow: scroll;

    .cardCourses {
      position: relative;
      display: inline-block;
      background-color: transparent;
      cursor: pointer;
      transition: transform 0.4s ease;

      &:hover {
        cursor: pointer;
        transform: scale(0.97);
      }

      img {
        display: block;
        width: 100%;
        height: auto;
      }

      .text-overlay {
        h1 {
          text-align: start;
          transition: transform 0.4s ease;
        }
        position: absolute;
        top: 10px; /* Ajusta la posición vertical del texto */
        left: 10px; /* Ajusta la posición horizontal del texto */
        color: white; /* Color del texto */

        padding: 10px; /* Espaciado interno del texto */
        transition: transform 0.4s ease;

        .rating {
          .icon {
            color: white !important;
            transition: transform 0.4s ease;
          }
        }
      }
    }
  }
}
