$primary: #1a3c7d;
$danger: #ff1616;
$segundary: #05183c;
$segundary2: #06296b;

$font-light: #fff;
$font-grey: #778;
$font-dark: #000;

$border-light: #fff;
$border-grey-light: #a7a7a7;
$boder-grey: #444444;

$background-light: #fff;
$background-grey-light: #eee;
$background-grey: #a7a7a7;
$background-grey-dark: #363636;
$background-dark-grey-light: #141519;
$background-dark: #151515;
$background-dark-absolute: #000;

$success: #004aad;